<!DOCTYPE html>

<html>
<head>

    <title></title>
    <link href="~/css/login/login.css" rel="stylesheet" />
    <script>
        $(document).ready(function () {
            $('.toggle').on('click', function () {
                $('.container').stop().addClass('active');
            });

            $('.close').on('click', function () {
                $('.container').stop().removeClass('active');
            });

        });
    </script>

</head>
<body>
        @RenderBody()

    @*<footer class="container-fluid text-center foot">
        <div class="copyrights">
            <p class="white-txt">
                Your Site Name © 2017
                <br><br>
                <img class="footimg" src="https://openclipart.org/download/59293/logo-water.svg" alt="Logo">
            </p>
            <hr class="dark-line">
            <a class="link" href="#">Contact Us</a>&nbsp
            <a class="link" href="#">Privacy Policy</a>&nbsp
            <a class="link" href="#">Terms & Conditions</a>
            <br><br>
            <p class="white-txt small">
                Proud product of Walkerstours IT.
            </p>
        </div>
    </footer>*@

</body>


</html>
