@model AutomationTracker.Models.AssetModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="clearfix"></div>
<section class="header-section">
    <div class="page_header two">
        <div class="container">
            <h2 class="align_center pagetitle">Growth and Emerging Markets Committee- Annual Conference and Meetings</h2>
            <div class="pagenation">20 – 21 September 2017</div>
        </div>
    </div>
</section>
<!-- end page header -->
<div class="clearfix"></div>




<section class="common_section">
    <div class="container">
        <div class="reg_form">

            <footer>
                <button type="submit" name="Submit" class="btn button">Add New</button>
            </footer>

            <fieldset>
                <section>
                    <table class="table table-list2" id="example">
                        <thead>
                            <tr>Unit Type Name</tr>
                            <tr>Model Name</tr>
                            <tr>Description</tr>
                        </thead>
                        <tbody>
                            @foreach (var items in Model.model)
                            {
                                <tr>
                                    <td>
                                        @items.UnitType1.UnitTypeName
                                    </td>
                                    <td>
                                        @Html.ActionLink(items.ModelName, "ManageModels", new { id = items.ModelID })
                                    </td>
                                    <td>
                                        @items.Description

                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </section>
            </fieldset>

        </div>

    </div>
</section>

<!-- end section 1 -->
<div class="clearfix"></div>

<section class="section11"></section>
<!-- end section 6 -->
<div class="clearfix"></div>

<div class="copyrights">
    <div class="container">
        <div class="one_half"><span>© Securities and Exchange Commission of Sri Lanka.</span></div>
        <div class="one_half last">
            <div class="payments"><span>We Accept</span> <img src="~/images/amex.png"><img src="~/images/visa.png"></div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#example').DataTable();
    });
</script>