@model AutomationTracker.Models.AssetModel
@{
    ViewBag.Title = "ManageUnitTypes";
    ViewBag.Menu = "ManageUnitTypes";
    Layout = "~/Views/Shared/_SystemLayout.cshtml";
}

@using (Html.BeginForm("SaveUnitTypes", "Config"))
{
    <section class="common_section">
        <div class="container">

            <div class='input-container'>
                <label for="txtModelName" class="labelcls">Unit Type Name: </label>
                <div class="icon-ph"><i class="icon-envelope"></i></div>
                @Html.TextBoxFor(m => Model.Unittype.UnitTypeName, new { @name = "txtUnitTypeName", @placeholder = "Unit Type Name", @class = "form-control", @id = "txtUnitTypeName" })
            </div>

            <div class='input-container'>
                <label for="dropCategory" class="labelcls">Category: </label>
                <div class="icon-ph"><i class="icon-envelope"></i></div>
                @Html.DropDownListFor(m => Model.Unittype.Category, new SelectList(Model.assetList.categoryList, "CategoryID", "CategoryName"), "- Please Select Unit type -", new { @name = "dropCategory", @class = "form-control", @id = "dropCategory" })
            </div>

            <div style="margin-top:10px;">
                <button type="submit" class="btn btn-primary">Submit</button>

                <input type="button" style="margin-left:10px" class="btn btn-primary" value="Back" onclick="location.href='@Url.Action("ViewUnitTypes", "Config")'" />
                </div>
            </div>
    </section>
}

