@model AutomationTracker.Models.AssetModel
@{
    ViewBag.Title = "ManageModels";
    ViewBag.Menu = "ManageModels";
    Layout = "~/Views/Shared/_SystemLayout.cshtml";
}


@using (Html.BeginForm("SaveModels", "Config"))
{
    @Html.AntiForgeryToken()

    <section class="common_section">
        <div class="container">

            <div class='input-container'>
                <label for="txtModelName" class="labelcls">Model Name: </label>
                <div class="icon-ph"><i class="icon-envelope"></i></div>
                @Html.TextBoxFor(m => Model.Modeltype.ModelName, new { @name = "txtModelName", @placeholder = "Model Name", @class = "form-control", @id = "txtModelName" })
            </div>

            <div class='input-container'>
                <label for="dropUnitType" class="labelcls">Unit Type: </label>
                <div class="icon-ph"><i class="icon-envelope"></i></div>
                @Html.DropDownListFor(m => Model.Modeltype.UnitType, new SelectList(Model.assetList.unittypeList, "UnitTypeID", "UnitTypeName"), "- Please Select Unit type -", new { @name = "dropUnitType", @class = "form-control", @id = "dropUnitType" })
            </div>

            <div style="margin-top:10px;">
                <button type="submit" class="btn btn-primary">Submit</button>

                <input type="button" style="margin-left:10px" class="btn btn-primary" value="Back" onclick="location.href='@Url.Action("ViewModels", "Config")'" />
            </div>
        </div>
    </section>
}