@model AutomationTracker.Models.AssetModel
@{
    ViewBag.Title = "ViewModels";
    Layout = "~/Views/Shared/_SystemLayout.cshtml";
}

<section class="common_section">
    <div class="container">
        <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Unit Type Name</th>
                    <th>Model Name</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var items in Model.assetList.modelList)
                {
                    <tr>
                        <td>
                            @items.UnitType1.UnitTypeName
                        </td>
                        <td>
                            @Html.ActionLink(items.ModelName, "ManageModels", new { id = items.ModelID })
                        </td>
                        <td>
                            @items.Description
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        </div>
    </section>

